@import url("https://fonts.googleapis.com/css?family=Poppins:300, 400, 600, 700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-black: #000;
  --clr-black-6: rgba(0, 0, 0, 0.6);
  --clr-white: #fff;
  --clr-offWhite: #f5f5f5;
  --clr-nearWhite: #aaa;
  --clr-nearGray: #999;
  --f-Poppins: "Poppins", sans-serif;
  --f-Playfair: "Playfair Display", serif;
}

/*------------------------------
    Responsive media Queries
/*------------------------------*/

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
/*------------------------------*/

/* General Styles */
body {
  font-family: var(--f-Poppins);
  font-size: 100%;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 {
  font-weight: 400;
  font-family: var(--f-Playfair);
  font-size: 2.9rem;
  line-height: 1.35;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
p {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  color: var(--clr-nearGray);
  @media #{$tablet} {
    font-size: 1.32rem;
  }
}
/* Utility Styles */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.flex-grow-1 {
  flex-grow: 1;
}
.mt-xl {
  margin-top: 150px;
}
.p-md {
  padding: 30px;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  @media #{$tablet} {
    padding: 0 20px;
  }
  &.flex {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
.content {
  max-width: 1400px;
  margin: 0 auto;
}
.columns {
  --s: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: calc(var(--s) / 2 * -1);
  margin-right: calc(var(--s) / 2 * -1);
  .col {
    width: calc(var(--w, 50%) - 1rem);
    padding-left: calc(var(--s) / 2);
    padding-right: calc(var(--s) / 2);
    * > {
      text-align: center;
    }
  }
}
// header
header {
  @media #{$tablet} {
    padding: 40px 0;
  }
  padding: 20px 0 20px;

  text-align: center;
  .brand {
    display: inline-block;
    img {
      transition: transform 0.5s ease-out;
    }
  }
}
/* Navigations */
nav.main-nav {
  @media #{$tablet} {
    margin: 25px -15px 0;
  }
  margin-top: 10px;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 9px;
    transition: transform 0.3s ease-out, opacity 0.5s ease-out;
    &:nth-of-type(2) {
      transition-delay: 100ms;
    }
    &:nth-of-type(3) {
      transition-delay: 200ms;
    }
    &:nth-of-type(4) {
      transition-delay: 300ms;
    }
    a {
      @media #{$tablet} {
        font-size: 1.01rem;
      }
      font-size: 1.2rem;
      display: block;
      transition: all 0.7s;
      color: var(--clr-black);
      text-transform: capitalize;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0;
        height: 1px;
        width: 0;
        transition: width 0.2s ease-in-out;
        background-color: var(--clr-black);
      }
      &:hover,
      &.active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
/* Portfolio / Works */
section.portfolio_slider {
  height: calc(100% - 20px);
  margin: 20px 15px 0;
  .portfolio_slider_images {
    height: 100%;
    padding-bottom: 60px;
    li {
      background-size: cover;
      background-position: center center;
      height: 100%;
      display: none;
      opacity: 0;
      transition: opacity 1s ease-in;
      &.active {
        display: flex;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0ms;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
    h1 {
      @media #{$desktop} {
        font-size: 10rem;
      }
      font-size: 4.5rem;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 1;
      width: 100%;
      mix-blend-mode: overlay;
      &::selection {
        background-color: var(--clr-white);
      }
    }
  }
  .portfolio_slider_navigation {
    margin-top: -60px;
    height: 60px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    @media #{$tablet} {
      overflow: hidden;
    }
    li {
      display: inline-block;
      margin: 0 5px;

      a {
        height: 60px;
        line-height: 60px;
        color: var(--clr-nearWhite);
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.7s;
        &:hover {
          text-decoration: underline;
          color: var(--clr-black);
        }
      }
      &.active a {
        color: var(--clr-black);
      }
    }
  }
}

/*------- Work details Page -------*/
#work-details {
  text-align: center;
  h1 {
    font-size: 7rem;
    margin: 40px auto;
  }
  p {
    max-width: 500px;
    margin: 40px auto;
  }
  img {
    margin: 10px auto;
  }
}
/*------- About Page -------*/
section.container-fluid {
  .content {
    a {
      text-decoration: underline;
    }
  }
  padding: 0;
  @media #{$tablet} {
    padding: 0 35px;
  }
  .wrapper > * {
    padding-left: 15px;
    padding-right: 15px;
  }

  p {
    margin-bottom: 30px;
  }
  // sidebar component
  .with-sidebar {
    --space: 0.5rem;
    overflow: hidden;
    & > * {
      display: flex;
      flex-wrap: wrap;
      margin: calc(var(--space) / 2 * -1);
      & > * {
        margin: calc(var(--space) / 2);
        flex-basis: 33.33333%;
        flex-grow: 1;
      }
      & > :last-child {
        flex-basis: 0;
        flex-grow: 999;
        min-width: calc(65% - var(--space));
      }
    }
  }
  // other styles
  .selfie img {
    margin: 15px 0;
    margin-top: 50px;
  }
  h1 {
    margin-top: 40px;
    margin-bottom: 75px;
    font-weight: 400;
    font-family: var(--f-Playfair);
    line-height: 1.37;
    font-size: 1.5rem;
    @media #{$tablet} {
      font-size: 2.5rem;
    }
  }
  #sticky {
    @media screen and (min-width: 901px) {
      position: relative;
    }
    .table {
      margin-top: 30px;
      tr td {
        border: 0;
        padding: 3px 0;
        line-height: 1.7;
        font-size: 0.95rem;
        font-weight: 300;
        padding-right: 20px;
        white-space: nowrap;
        vertical-align: top;
        a {
          display: block;
        }
      }
    }
    &.sticky {
      @media screen and (min-width: 901px) {
        position: fixed;
        width: 26.5%;
      }
    }
  }
  h4 {
    font-family: var(--f-Poppins);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 10px;
  }
  .title {
    text-align: center;
    h4 {
      font-size: 1.1rem;
    }
  }
}

/*------- Blog Page -------*/
#blogs {
  a.blog-item {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    // blogs
    h2 {
      font-size: 1.5rem;
      font-family: var(--f-Playfair);
      background: var(--clr-white);
      display: inline-block;
      position: relative;
      z-index: 2;
      padding: 10px 12px;
      bottom: -20px;
    }
    @media #{$tablet} {
      h2 {
        bottom: -30px;
        font-size: 2.8rem;
        padding: 10px 25px;
      }
    }
  }
  img {
    position: relative;
    z-index: 1;
  }
  .info {
    position: relative;
    display: inline-block;
    background: var(--clr-white);
    top: -30px;
    padding: 10px 15px;
    z-index: 2;
    .author {
      font-size: 0.8rem;
    }
    .tag {
      text-transform: uppercase;
      color: var(--clr-nearGray);
      letter-spacing: 1px;
      margin-top: 5px;
    }
    @media #{$tablet} {
      top: -40px;
      padding: 17px 25px;
      .author {
        font-size: 1rem;
      }
      .tag {
        font-size: 0.9rem;
      }
    }
  }
}
footer .pagination {
  background: var(--clr-offWhite);
  width: 100%;
  text-align: center;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  .previous,
  .next {
    position: relative;
    &::before {
      position: absolute;
      padding: 10px 15px;
      font-size: 1.5rem;
    }
    &:hover {
      &::before {
        background-color: var(--clr-white);
      }
    }
  }
  .previous {
    &::before {
      content: "\2190";
    }
  }
  .next {
    &::before {
      content: "\2192";
      left: -55px;
    }
  }
  .pagination-links {
    display: none;
    @media #{$tablet} {
      display: block;
    }
    a {
      background: var(--clr-black);
      color: var(--clr-white);
      padding: 13px 26px;
      line-height: 3.2;
      &.active,
      &:hover {
        background: var(--clr-black-6);
      }
    }
  }
}

/*------- Contact Page -------*/
#contact {
  .content {
    max-width: 60%;
    margin: 0 auto;
  }
  .intro {
    text-align: center;
    .typed,
    .typed-cursor {
      font-family: var(--f-Playfair);
      font-weight: 400;
      font-size: 2.5rem;
    }
  }
  form.contact-form {
    margin: 15px;
    margin-top: 30px;
    label {
      font-family: var(--f-Poppins);
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.7rem;
      margin-bottom: 10px;
    }
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 15px;
      height: auto;
      background: var(--clr-offWhite);
      border: 0;
      border-radius: 0;
      appearance: none;
      margin-bottom: 25px;
      font-size: 1.2rem;
      transition: all 0.3s;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      &:focus {
        background: var(--clr-black);
        color: var(--clr-white);
      }
    }
    .btn {
      background: var(--clr-black);
      color: var(--clr-white);
      border: 0;
      border-radius: 100px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-family: var(--f-Poppins);
      padding: 15px 22px 12px;
      font-weight: 700;
      transition: background 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        background: var(--clr-black-6);
      }
    }
    span {
      font-family: var(--f-Playfair);
    }
  }
  p.response {
    font-size: 1rem;
    margin: 10px;
  }
}

/* Transition and animation */
main > * {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
header .brand img {
  transition-delay: 0.6s;
  transform: scale(0);
}
nav > li {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, -50, -15);
}

/* splliting js animation */

.zip-it {
  .char {
    color: var(--clr-black);
    &,
    &::before,
    &::after {
      transition: transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);
      transition-delay: calc(0.5s * (1 - var(--char-percent)));
    }
    &::before,
    &::after {
      visibility: visible;
      color: var(--clr-white);
    }
    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%);
    }
    &::after {
      clip-path: polygon(0 46%, 100% 46%, 100% 100%, 0 100%);
    }
  }

  &:hover .char:before,
  &.animate .char:before {
    transform: translateY(-45%) scaleY(0);
  }
  &:hover .char:after,
  &.animate .char:after {
    transform: translateY(45%) scaleY(0);
  }
  &:hover,
  &.animate {
    .char,
    .char:before,
    .char:after {
      transition-delay: calc(0.5s * var(--char-percent));
    }
  }
}

/*-----------------*/
.plop-it {
  perspective: 500px;
  transform-style: preserve-3d;

  .char {
    animation: plop 0.5s ease-out 1 both;
    animation-delay: calc(0.005s * var(--char-index));
  }

  @keyframes plop {
    0% {
      opacity: 0;
      transform: translate3d(0px, 10px, 400px) rotate(180deg);
    }
    20% {
      transform: translate3d(0px, -20px, 200px) rotate(90deg);
    }
    40%,
    70% {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px) rotate(0deg);
    }
    90%,
    100% {
      opacity: 1;
      transform: translate3d(0px, 10px, -200px) rotate(-90deg);
    }
  }
}
