@import url("https://fonts.googleapis.com/css?family=Poppins:300, 400, 600, 700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:root {
  --clr-black: #000;
  --clr-black-6: rgba(0, 0, 0, 0.6);
  --clr-white: #fff;
  --clr-offWhite: #f5f5f5;
  --clr-nearWhite: #aaa;
  --clr-nearGray: #999;
  --f-Poppins: "Poppins", sans-serif;
  --f-Playfair: "Playfair Display", serif; }

/*------------------------------
    Responsive media Queries
/*------------------------------*/
/*------------------------------*/
/* General Styles */
body {
  font-family: var(--f-Poppins);
  font-size: 100%;
  line-height: 1.2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 {
  font-weight: 400;
  font-family: var(--f-Playfair);
  font-size: 2.9rem;
  line-height: 1.35; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  vertical-align: middle; }

p {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  color: var(--clr-nearGray); }
  @media (min-width: 768px) {
    p {
      font-size: 1.32rem; } }

/* Utility Styles */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.mt-xl {
  margin-top: 150px; }

.p-md {
  padding: 30px; }

.disabled {
  opacity: 0.6;
  cursor: not-allowed; }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  @media (min-width: 768px) {
    .container-fluid {
      padding: 0 20px; } }
  .container-fluid.flex {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.content {
  max-width: 1400px;
  margin: 0 auto; }

.columns {
  --s: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: calc(var(--s) / 2 * -1);
  margin-right: calc(var(--s) / 2 * -1); }
  .columns .col {
    width: calc(var(--w, 50%) - 1rem);
    padding-left: calc(var(--s) / 2);
    padding-right: calc(var(--s) / 2); }
    .columns .col * > {
      text-align: center; }

header {
  padding: 20px 0 20px;
  text-align: center; }
  @media (min-width: 768px) {
    header {
      padding: 40px 0; } }
  header .brand {
    display: inline-block; }
    header .brand img {
      -webkit-transition: -webkit-transform 0.5s ease-out;
      transition: -webkit-transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }

/* Navigations */
nav.main-nav {
  margin-top: 10px;
  padding: 0; }
  @media (min-width: 768px) {
    nav.main-nav {
      margin: 25px -15px 0; } }
  nav.main-nav li {
    display: inline-block;
    margin: 0 9px;
    -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.3s ease-out;
    transition: opacity 0.5s ease-out, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, opacity 0.5s ease-out;
    transition: transform 0.3s ease-out, opacity 0.5s ease-out, -webkit-transform 0.3s ease-out; }
    nav.main-nav li:nth-of-type(2) {
      -webkit-transition-delay: 100ms;
              transition-delay: 100ms; }
    nav.main-nav li:nth-of-type(3) {
      -webkit-transition-delay: 200ms;
              transition-delay: 200ms; }
    nav.main-nav li:nth-of-type(4) {
      -webkit-transition-delay: 300ms;
              transition-delay: 300ms; }
    nav.main-nav li a {
      font-size: 1.2rem;
      display: block;
      -webkit-transition: all 0.7s;
      transition: all 0.7s;
      color: var(--clr-black);
      text-transform: capitalize;
      position: relative; }
      @media (min-width: 768px) {
        nav.main-nav li a {
          font-size: 1.01rem; } }
      nav.main-nav li a::after {
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0;
        height: 1px;
        width: 0;
        -webkit-transition: width 0.2s ease-in-out;
        transition: width 0.2s ease-in-out;
        background-color: var(--clr-black); }
      nav.main-nav li a:hover::after, nav.main-nav li a.active::after {
        width: 100%; }

/* Portfolio / Works */
section.portfolio_slider {
  height: calc(100% - 20px);
  margin: 20px 15px 0; }
  section.portfolio_slider .portfolio_slider_images {
    height: 100%;
    padding-bottom: 60px; }
    section.portfolio_slider .portfolio_slider_images li {
      background-size: cover;
      background-position: center center;
      height: 100%;
      display: none;
      opacity: 0;
      -webkit-transition: opacity 1s ease-in;
      transition: opacity 1s ease-in; }
      section.portfolio_slider .portfolio_slider_images li.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation-name: fadeIn;
                animation-name: fadeIn;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-delay: 0ms;
                animation-delay: 0ms;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        -webkit-animation-direction: normal;
                animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    section.portfolio_slider .portfolio_slider_images h1 {
      font-size: 4.5rem;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 1;
      width: 100%;
      mix-blend-mode: overlay; }
      @media (min-width: 1024px) {
        section.portfolio_slider .portfolio_slider_images h1 {
          font-size: 10rem; } }
      section.portfolio_slider .portfolio_slider_images h1::-moz-selection {
        background-color: var(--clr-white); }
      section.portfolio_slider .portfolio_slider_images h1::selection {
        background-color: var(--clr-white); }
  section.portfolio_slider .portfolio_slider_navigation {
    margin-top: -60px;
    height: 60px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; }
    @media (min-width: 768px) {
      section.portfolio_slider .portfolio_slider_navigation {
        overflow: hidden; } }
    section.portfolio_slider .portfolio_slider_navigation li {
      display: inline-block;
      margin: 0 5px; }
      section.portfolio_slider .portfolio_slider_navigation li a {
        height: 60px;
        line-height: 60px;
        color: var(--clr-nearWhite);
        font-size: 1rem;
        font-weight: 600;
        -webkit-transition: all 0.7s;
        transition: all 0.7s; }
        section.portfolio_slider .portfolio_slider_navigation li a:hover {
          text-decoration: underline;
          color: var(--clr-black); }
      section.portfolio_slider .portfolio_slider_navigation li.active a {
        color: var(--clr-black); }

/*------- Work details Page -------*/
#work-details {
  text-align: center; }
  #work-details h1 {
    font-size: 7rem;
    margin: 40px auto; }
  #work-details p {
    max-width: 500px;
    margin: 40px auto; }
  #work-details img {
    margin: 10px auto; }

/*------- About Page -------*/
section.container-fluid {
  padding: 0; }
  section.container-fluid .content a {
    text-decoration: underline; }
  @media (min-width: 768px) {
    section.container-fluid {
      padding: 0 35px; } }
  section.container-fluid .wrapper > * {
    padding-left: 15px;
    padding-right: 15px; }
  section.container-fluid p {
    margin-bottom: 30px; }
  section.container-fluid .with-sidebar {
    --space: 0.5rem;
    overflow: hidden; }
    section.container-fluid .with-sidebar > * {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: calc(var(--space) / 2 * -1); }
      section.container-fluid .with-sidebar > * > * {
        margin: calc(var(--space) / 2);
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      section.container-fluid .with-sidebar > * > :last-child {
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
        -webkit-box-flex: 999;
            -ms-flex-positive: 999;
                flex-grow: 999;
        min-width: calc(65% - var(--space)); }
  section.container-fluid .selfie img {
    margin: 15px 0;
    margin-top: 50px; }
  section.container-fluid h1 {
    margin-top: 40px;
    margin-bottom: 75px;
    font-weight: 400;
    font-family: var(--f-Playfair);
    line-height: 1.37;
    font-size: 1.5rem; }
    @media (min-width: 768px) {
      section.container-fluid h1 {
        font-size: 2.5rem; } }
  @media screen and (min-width: 901px) {
    section.container-fluid #sticky {
      position: relative; } }
  section.container-fluid #sticky .table {
    margin-top: 30px; }
    section.container-fluid #sticky .table tr td {
      border: 0;
      padding: 3px 0;
      line-height: 1.7;
      font-size: 0.95rem;
      font-weight: 300;
      padding-right: 20px;
      white-space: nowrap;
      vertical-align: top; }
      section.container-fluid #sticky .table tr td a {
        display: block; }
  @media screen and (min-width: 901px) {
    section.container-fluid #sticky.sticky {
      position: fixed;
      width: 26.5%; } }
  section.container-fluid h4 {
    font-family: var(--f-Poppins);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 10px; }
  section.container-fluid .title {
    text-align: center; }
    section.container-fluid .title h4 {
      font-size: 1.1rem; }

/*------- Blog Page -------*/
#blogs a.blog-item {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%; }
  #blogs a.blog-item h2 {
    font-size: 1.5rem;
    font-family: var(--f-Playfair);
    background: var(--clr-white);
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 10px 12px;
    bottom: -20px; }
  @media (min-width: 768px) {
    #blogs a.blog-item h2 {
      bottom: -30px;
      font-size: 2.8rem;
      padding: 10px 25px; } }

#blogs img {
  position: relative;
  z-index: 1; }

#blogs .info {
  position: relative;
  display: inline-block;
  background: var(--clr-white);
  top: -30px;
  padding: 10px 15px;
  z-index: 2; }
  #blogs .info .author {
    font-size: 0.8rem; }
  #blogs .info .tag {
    text-transform: uppercase;
    color: var(--clr-nearGray);
    letter-spacing: 1px;
    margin-top: 5px; }
  @media (min-width: 768px) {
    #blogs .info {
      top: -40px;
      padding: 17px 25px; }
      #blogs .info .author {
        font-size: 1rem; }
      #blogs .info .tag {
        font-size: 0.9rem; } }

footer .pagination {
  background: var(--clr-offWhite);
  width: 100%;
  text-align: center;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 20px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  footer .pagination .previous,
  footer .pagination .next {
    position: relative; }
    footer .pagination .previous::before,
    footer .pagination .next::before {
      position: absolute;
      padding: 10px 15px;
      font-size: 1.5rem; }
    footer .pagination .previous:hover::before,
    footer .pagination .next:hover::before {
      background-color: var(--clr-white); }
  footer .pagination .previous::before {
    content: "\2190"; }
  footer .pagination .next::before {
    content: "\2192";
    left: -55px; }
  footer .pagination .pagination-links {
    display: none; }
    @media (min-width: 768px) {
      footer .pagination .pagination-links {
        display: block; } }
    footer .pagination .pagination-links a {
      background: var(--clr-black);
      color: var(--clr-white);
      padding: 13px 26px;
      line-height: 3.2; }
      footer .pagination .pagination-links a.active, footer .pagination .pagination-links a:hover {
        background: var(--clr-black-6); }

/*------- Contact Page -------*/
#contact .content {
  max-width: 60%;
  margin: 0 auto; }

#contact .intro {
  text-align: center; }
  #contact .intro .typed,
  #contact .intro .typed-cursor {
    font-family: var(--f-Playfair);
    font-weight: 400;
    font-size: 2.5rem; }

#contact form.contact-form {
  margin: 15px;
  margin-top: 30px; }
  #contact form.contact-form label {
    font-family: var(--f-Poppins);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    margin-bottom: 10px; }
  #contact form.contact-form input,
  #contact form.contact-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    height: auto;
    background: var(--clr-offWhite);
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin-bottom: 25px;
    font-size: 1.2rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    #contact form.contact-form input:focus,
    #contact form.contact-form textarea:focus {
      background: var(--clr-black);
      color: var(--clr-white); }
  #contact form.contact-form .btn {
    background: var(--clr-black);
    color: var(--clr-white);
    border: 0;
    border-radius: 100px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: var(--f-Poppins);
    padding: 15px 22px 12px;
    font-weight: 700;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    cursor: pointer; }
    #contact form.contact-form .btn:hover {
      background: var(--clr-black-6); }
  #contact form.contact-form span {
    font-family: var(--f-Playfair); }

#contact p.response {
  font-size: 1rem;
  margin: 10px; }

/* Transition and animation */
main > * {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0; }

header .brand img {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: scale(0);
          transform: scale(0); }

nav > li {
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, -50, -15);
          transform: matrix(1, 0, 0, 1, -50, -15); }

/* splliting js animation */
.zip-it .char {
  color: var(--clr-black); }
  .zip-it .char, .zip-it .char::before, .zip-it .char::after {
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);
    -webkit-transition-delay: calc(0.5s * (1 - var(--char-percent)));
            transition-delay: calc(0.5s * (1 - var(--char-percent))); }
  .zip-it .char::before, .zip-it .char::after {
    visibility: visible;
    color: var(--clr-white); }
  .zip-it .char::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%);
            clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%); }
  .zip-it .char::after {
    -webkit-clip-path: polygon(0 46%, 100% 46%, 100% 100%, 0 100%);
            clip-path: polygon(0 46%, 100% 46%, 100% 100%, 0 100%); }

.zip-it:hover .char:before,
.zip-it.animate .char:before {
  -webkit-transform: translateY(-45%) scaleY(0);
          transform: translateY(-45%) scaleY(0); }

.zip-it:hover .char:after,
.zip-it.animate .char:after {
  -webkit-transform: translateY(45%) scaleY(0);
          transform: translateY(45%) scaleY(0); }

.zip-it:hover .char,
.zip-it:hover .char:before,
.zip-it:hover .char:after, .zip-it.animate .char,
.zip-it.animate .char:before,
.zip-it.animate .char:after {
  -webkit-transition-delay: calc(0.5s * var(--char-percent));
          transition-delay: calc(0.5s * var(--char-percent)); }

/*-----------------*/
.plop-it {
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .plop-it .char {
    -webkit-animation: plop 0.5s ease-out 1 both;
            animation: plop 0.5s ease-out 1 both;
    -webkit-animation-delay: calc(0.005s * var(--char-index));
            animation-delay: calc(0.005s * var(--char-index)); }

@-webkit-keyframes plop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 10px, 400px) rotate(180deg);
            transform: translate3d(0px, 10px, 400px) rotate(180deg); }
  20% {
    -webkit-transform: translate3d(0px, -20px, 200px) rotate(90deg);
            transform: translate3d(0px, -20px, 200px) rotate(90deg); }
  40%,
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
            transform: translate3d(0px, 0px, 0px) rotate(0deg); }
  90%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 10px, -200px) rotate(-90deg);
            transform: translate3d(0px, 10px, -200px) rotate(-90deg); } }

@keyframes plop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 10px, 400px) rotate(180deg);
            transform: translate3d(0px, 10px, 400px) rotate(180deg); }
  20% {
    -webkit-transform: translate3d(0px, -20px, 200px) rotate(90deg);
            transform: translate3d(0px, -20px, 200px) rotate(90deg); }
  40%,
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
            transform: translate3d(0px, 0px, 0px) rotate(0deg); }
  90%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 10px, -200px) rotate(-90deg);
            transform: translate3d(0px, 10px, -200px) rotate(-90deg); } }
/*# sourceMappingURL=style.css.map */