.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: open 0.8s ease-in-out forwards;

    &:nth-child(1) {
      background: #1d1e22;
      z-index: 2;
    }

    &:nth-child(2) {
      background: #03a9f4;
      animation-delay: 0.5s;
      z-index: 1;
    }
  }
}

@keyframes open {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

/*
*
* main styles
*
*/

$bg: #f7f7f7;
$blue: #304ffe;
$black_grey: darken($bg, 90%);
$grey: #4b4f5d;
$white_grey: lighten($grey, 25%);
$white: #fff;
$black: #000;
$Purple_Heart: #673ab7;
$blue_gradient: linear-gradient(
  190deg,
  rgba(51, 8, 103, 1) 0%,
  rgba(46, 46, 210, 1) 50%,
  rgb(7, 66, 114) 100%
);
$blue_gradient_reverse: linear-gradient(
  190deg,
  rgb(7, 66, 114) 0%,
  rgba(46, 46, 210, 1) 50%,
  rgba(51, 8, 103, 1) 100%
);
$box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.12);

//custom scroll bar
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue_gradient;
}

//Responsive media Queries
$xs-phone: "(max-width: 575px)";
$phone: "(min-width: 576px) and (max-width: 767px)";
$tablet: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
//---------------------------------//

//basic setup-------------------
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display";
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  background: $bg;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  box-shadow: inset 0 -0.3rem 0 0 #2eafac60;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: inset 0 -2.5rem 0 0 #2eafac60;
  }
}

p {
  margin: 0.5em 0;

  &.name {
    font-weight: bold;
    margin-top: 1.5em;
    color: $black_grey;
  }

  &.sub_name {
    color: $white_grey;
  }

  &.name,
  .sub_name {
    font-size: 1.2em;
  }

  &.auto_type {
    margin-left: 1em;
    font-size: 5vmin;
    height: 1em;
    font-weight: bold;
    color: white;
    background-color: $blue;
    display: inline-block;
    padding: 0.25em 0.25em 1.5em 0.25em;
  }
}

//aside bar setup--------------------------------------

aside {
  background: $white;
  text-align: center;
  position: fixed;
  min-width: 15vw;
  height: 100vh;
  z-index: 1;
  box-shadow: $box-shadow;
  display: hidden;

  header.brand img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-top: 100px;
    box-shadow: $box-shadow;
    border: 2px dashed $blue;
    padding: 1px;
  }
}

//nav bae setup---------------------------------------------------

.nav {
  margin-top: 5em;

  .nav_items {
    display: block;
    font-weight: bold;
    text-align: center;
    color: $grey;
    margin-top: 1.5em;
    white-space: nowrap;

    &:hover,
    &.active {
      color: $blue;
      margin-left: 20px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    margin-top: 2.5em;
    font-family: inherit;

    &::before {
      position: absolute;
      content: "Theme";
      top: -22px;
      left: 5px;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background: #2196f3;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      &:checked + .slider::before {
        transform: translateX(32px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ccc;
      transition: 0.4s;

      &::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 1px;
        bottom: 0px;
        background: $white;
        transition: 0.4s;
      }

      &.round {
        border-radius: 34px;

        &::before {
          border-radius: 50%;
        }
      }
    }
  }
}

//social media icons setup----------------------------
.social {
  margin: 2em 0 2em 0;

  .github,
  .fb,
  .mail,
  .codepen {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 0.1em;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px;

    &:hover {
      transform: scale(1.5);
      transition: all 0.2s ease-in-out;
    }
  }

  .fb {
    background-color: #3b5998;
    color: $white;
  }

  .github {
    background-color: #ecd71b;
    color: rgb(0, 0, 0);
  }

  .mail {
    background-color: red;
    color: $white;
  }

  .codepen {
    background-color: #d40d70;
    color: $white;
  }
}

// main section----------------------------------

main {
  display: grid;
  grid-template-columns: 15vw auto;
}

section {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  grid-column-start: 2;
  border-bottom: 2px dashed $blue;
  padding: 5em 0;
}

#home {
  background: $bg url(https://i.postimg.cc/JhMZ3KB0/home-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .title img {
    max-width: 80%;
    width: 70%;
    margin: 15vh 0 2vh 5vh;
  }

  .contact_btn {
    margin: 5em 3em;
    background: $blue;
    color: $white;
    display: block;
    width: 15vmax;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 5px;
  }

  div.hire {
    background: $white;
    height: 8vmax;
    width: 15vmax;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
    line-height: 8vmax;
    text-transform: uppercase;
    color: #304ffe;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.85em;
    position: fixed;
    top: 0;
    right: 5vw;
    z-index: 1;
    box-shadow: $box-shadow;

    &:hover {
      background: $blue;
      color: $white;
      transition: all 0.2s ease-in-out;
    }
  }
}

//nav icon---------------------------------------------
.nav-icon {
  margin: 1em;
  width: 40px;
  position: fixed;
  top: 2vh;
  left: 2vw;
  display: none;
  cursor: pointer;
  z-index: 2;

  @media #{$tablet} {
    display: block;
  }

  &::after,
  &::before,
  div {
    background-color: $black;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }

  div {
    width: 30px;
  }
}

.slideout-open .nav-icon {
  margin-left: 16em;

  &::before {
    transform: translateY(12px) rotate(135deg);
  }

  & div {
    transform: scale(0);
  }

  &:after {
    transform: translateY(-12px) rotate(-135deg);
  }
}

//all the titles------------------------------------
#works .title,
#about .title,
#skills .title,
#contact .title {
  margin: 0.5em 1em;
  color: $black_grey;
  background: $white;
  padding: 1em 1em 1em 2em;
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: $box-shadow;

  span {
    color: $blue;
  }
}

.title_sub {
  margin: 1em 0 0 3.7em;

  span {
    color: $blue;
  }
}

//Works----------------------------------
#works {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 2em;
    justify-content: center;

    .item {
      background: $white;
      margin: 1.5em 0.7em;
      position: relative;
      width: 247px;

      &:hover {
        box-shadow: $box-shadow;
        transform: scale(1.1);
        z-index: 2;
        transition: all 0.1s ease-in-out;
        cursor: pointer;

        .caption {
          color: $blue;
        }
      }

      i {
        color: $black;
      }

      img {
        height: 200px;
        width: 247px;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
      }

      .caption {
        height: 105px;
        padding: 1em;

        p {
          font-size: 1em;

          span {
            font-weight: bold;
          }
        }

        a {
          text-decoration: none;
          margin: 0 5px;

          &.download,
          &.preview {
            padding: 8px 12px;
            transition: all 0.1s ease-in-out;
            background: $white;
            box-shadow: $box-shadow;
          }

          &.download {
            position: absolute;
            right: 35px;
            bottom: 0;
          }

          &.preview {
            position: absolute;
            right: -5px;
            bottom: 0;
          }

          &:hover {
            background: $blue;

            i {
              color: $white;
            }
          }
        }
      }
    }
  }
}

//about------------------------------------------------

.about-info {
  margin: 5em 2em;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    margin: auto;
    max-width: 100%;
    width: 20vw;
    border: 3px solid $blue;
    padding: 1px;
    border-radius: 50%;
    grid-area: bioimage;
    box-shadow: $box-shadow;
  }

  .bio {
    font-size: 1.5rem;
    grid-area: bio;
  }

  .job-1,
  .job-2,
  .job-3 {
    padding: 0.5rem;
    border-bottom: $blue 5px solid;
    background: $white;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  span {
    color: $blue;
  }
}

//skills---------------------------------------

#skills {
  .skill_progress {
    padding: 5em;
    border-radius: 40px;
    margin: 3em;

    @media #{$tablet} {
      padding: 1em;
      margin: 2em 1em;
    }

    .skillbar {
      position: relative;
      display: block;
      margin-bottom: 15px;
      width: 100%;
      background: #eee;
      height: 35px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -webkit-transition: 0.4s linear;
      -moz-transition: 0.4s linear;
      -ms-transition: 0.4s linear;
      -o-transition: 0.4s linear;
      transition: 0.4s linear;
      -webkit-transition-property: width, background-color;
      -moz-transition-property: width, background-color;
      -ms-transition-property: width, background-color;
      -o-transition-property: width, background-color;
      transition-property: width, background-color;

      .skillbar-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        font-weight: bold;
        font-size: 13px;
        color: #ffffff;
        background: #6adcfa;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        span {
          display: block;
          background: rgba(0, 0, 0, 0.1);
          padding: 0 20px;
          height: 35px;
          line-height: 35px;
          -webkit-border-top-left-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -moz-border-radius-topleft: 3px;
          -moz-border-radius-bottomleft: 3px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }

      .skillbar-bar {
        height: 35px;
        width: 0px;
        background: #6adcfa;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
      }
    }

    .skill-bar-percent {
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 13px;
      height: 35px;
      line-height: 35px;
      color: rgba(0, 0, 0, 0.68);
    }
  }
}

// contact form---------------------------------------------
#contact {
  min-height: 50vh;
}

#my_form {
  width: 50%;
  margin: 10% auto;
  min-width: 10rem;

  textarea {
    height: 10rem;
  }

  input,
  textarea {
    width: 100%;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  .mybtn {
    background: transparent;
    color: $white;
    width: 100px;
    height: 30px;
    float: right;
    cursor: pointer;
    border: none;
    outline: none;
    transform-style: preserve-3d;
    perspective: 500px;
    transition: 0.5s;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 30px;
      display: block;
      text-align: center;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: 0.5s;
      border-radius: 30px;
      color: #fff;

      &.front {
        transform: rotateX(0deg) translateZ(20px);
      }

      &.back {
        transform: rotateX(180deg) translateZ(20px);
      }

      &.center {
        background: $blue_gradient;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          background: $blue_gradient_reverse;
          transform: translatez(-1px);
        }
      }
    }

    &:hover .center {
      background: $blue;
    }

    &.action {
      .front {
        transform: rotateX(-180deg) translateZ(20px);
      }

      .back {
        transform: rotateX(0deg) translateZ(20px);
      }

      .center {
        transform: rotateX(-180deg);
      }
    }
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: $blue;
  color: $white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;

  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

#main-footer {
  height: 60px;
  padding: 1rem;
  max-width: 100vw;
  margin-left: 15vw;
  text-align: center;
  color: $white;
  background: $black_grey;
}

// Slideout.js styles

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: min-content;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none;

  @media #{$tablet} {
    width: 256px;
  }

  @media #{$desktop} {
    display: block;
  }
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: auto;
}

.slideout-open .slideout-menu {
  display: block;
}

//-------------------------------------

//blue mode
.dark-mode {
  color: $white;
  background: $blue_gradient;

  p {
    color: $white;
  }

  aside {
    background: $blue_gradient;
  }

  .nav {
    .nav_items {
      color: $white;

      &:hover {
        color: #ecd71b;
      }
    }
  }

  section {
    background: rgb(48, 207, 208);
    background: $blue_gradient;
  }

  #home {
    background: $blue_gradient;

    div.hire {
      box-shadow: $box-shadow;
      background: rgba(51, 8, 103, 1);
      color: $white;

      &:hover {
        background: $white;
        color: $blue;
      }
    }
  }

  #skills {
    color: $black;
  }

  #works .title,
  #about .title,
  #skills .title,
  #contact .title {
    color: $white;
    background: $Purple_Heart;

    span {
      color: lighten($blue, 10%);
    }
  }

  .title_sub {
    span {
      color: lighten($blue, 10%);
    }
  }

  .projects .caption {
    p {
      color: $black;
    }
  }

  .about-info {
    .job-1,
    .job-2,
    .job-3 {
      color: $white;
      background: lighten($blue, 10%);

      p {
        color: $white;
      }
    }

    span {
      color: $white;
      font-weight: bold;
    }
  }

  .nav-icon {
    &::after,
    &::before,
    div {
      background-color: $white;
    }
  }
}

//Responsive
@media #{$tablet} {
  aside header.brand img {
    margin-top: 5vh;
  }

  .nav {
    margin-top: 2em;
  }

  .social {
    margin-top: 4em;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  #home .title {
    margin-left: 1.4em;
  }

  #home div.hire {
    font-size: 0.75em;
  }

  #about .title_sub {
    margin: 1em 0 0 2em;
  }

  #works .title,
  #about .title,
  #skills .title,
  #contact .title {
    margin: 0;
    padding: 0.5em 0.5em 0.5em 1em;
  }

  .projects {
    justify-content: center;
  }

  .about-info .bio {
    font-size: 1.2rem;
  }

  #my_form {
    width: 80%;
  }

  #main-footer {
    margin: 0;
  }
}

@media #{$phone} {
  .projects {
    margin: 3em 0 0 0;
  }

  .about-info {
    grid-gap: 1em;
  }

  .about-info .bio-image {
    width: 28vw;
  }
}

@media #{$xs-phone} {
  h2 {
    font-size: 1em;
  }

  #home .contact_btn {
    margin: 2em 0 2em 1.5em;
    height: 2em;
    line-height: 2em;
    font-size: 14px;
  }

  #home div.hire {
    line-height: 7vmax;
  }

  .projects .item .caption p {
    font-size: 0.8em;
  }

  .about-info {
    margin: 5em 2em;
    grid-gap: 30px;
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }

  .about-info .bio-image {
    width: 70vw;
  }

  #skills {
    .skill_progress {
      justify-content: center;
    }

    .progress_items {
      height: 150px;
      width: 200px;
      margin: 2em;
    }
  }
}
// mouse effect style
@media #{$desktop} {
  .mouse {
    position: fixed;
    content: "";
    transform: translate(var(--x), var(--y));
    z-index: 3;
    width: 50px;
    height: 50px;
    pointer-events: none;
    transition: transform 0.01s ease-in-out;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 2px dotted #4950a4;
      border-radius: 50%;
      pointer-events: none;
      animation: rotate 4s linear infinite;
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
